# Network Configuration
host = "0.0.0.0"
port = 5300      # Using 5300 for dev (requires sudo for 53)

# Upstream DNS Servers
# format: <protocol>://<ip_or_host>:<port>
upstream_servers = [
  "h3://dns.google/dns-query",
  "h3://cloudflare-dns.com/dns-query",
  "quic://unfiltered.adguard-dns.com",
  "https://dns10.quad9.net/dns-query",
]

# Upstream Resolution Policy
# resolution_policy = "parallel" | "sequential" | "round-robin"
resolution_policy = "parallel"
upstream_timeout_ms = 10000

# Bootstrap DNS
# Used to resolve domain names in `upstream_servers`
bootstrap_dns = ["8.8.8.8:53"]

# Allowlist
allowlist = ["analytics.google.com"]

# Blocklists
[blocklists]
hagezi-pro = "https://cdn.jsdelivr.net/gh/hagezi/dns-blocklists@latest/wildcard/pro-onlydomains.txt"
hagezi-fake = "https://cdn.jsdelivr.net/gh/hagezi/dns-blocklists@latest/wildcard/fake-onlydomains.txt"
hagezi-tif = "https://cdn.jsdelivr.net/gh/hagezi/dns-blocklists@latest/wildcard/tif-onlydomains.txt"
hagezi-doh-vpn-proxy-bypass = "https://cdn.jsdelivr.net/gh/hagezi/dns-blocklists@latest/wildcard/doh-vpn-proxy-bypass-onlydomains.txt"
hagezi-nosafesearch = "https://cdn.jsdelivr.net/gh/hagezi/dns-blocklists@latest/wildcard/nosafesearch-onlydomains.txt"
hagezi-dyndns = "https://cdn.jsdelivr.net/gh/hagezi/dns-blocklists@latest/wildcard/dyndns-onlydomains.txt"
hagezi-hoster = "https://cdn.jsdelivr.net/gh/hagezi/dns-blocklists@latest/wildcard/hoster-onlydomains.txt"
hagezi-anti-piracy = "https://cdn.jsdelivr.net/gh/hagezi/dns-blocklists@latest/wildcard/anti.piracy-onlydomains.txt"
hagezi-gambling = "https://cdn.jsdelivr.net/gh/hagezi/dns-blocklists@latest/wildcard/gambling-onlydomains.txt"
hagezi-nsfw = "https://cdn.jsdelivr.net/gh/hagezi/dns-blocklists@latest/wildcard/nsfw-onlydomains.txt"

# Caching
[cache]
enable = true
capacity = 10000
grace_period_sec = 10

# Updates
[updates]
interval_hours = 24
concurrent_downloads = 4

# Logging
[logging]
enable = true
log_blocked = true
log_all_queries = true
format = "text"        # or "json"
target = "console"     # or "file", "syslog"
level = "info"         # "error", "warn", "info", "debug", "trace"
# file_path = "ad-nope.log"

# Stats
[stats]
enable = true
log_interval_seconds = 300
